@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/worksans-300.woff2') format('woff2');
}
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/worksans-400.woff2') format('woff2');
}
